/*Style Guide:
- Use specific class tags as much as possible.
- Define distinct sections of styling using comments.
- camelCase style names.
- Organise styles in top down structure.
- Place helper classes inside global section.
- If using media queries, place beneath main styling.
  and reuse same defined sections.
*/
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
/* global styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.button {
  background-color: white;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
  border: 0px;
}

/* header */

header {
  background-color: #ef5350;
  margin: 0;
}

.header-container {
  padding: 7px 15px 7px 15px;
  margin: 0 auto 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.header-container h1 {
  margin: 0;
  display: inline;
}

#sound-toggle {
  display: none;
}

/* main */

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  top: 0;
}

#splash {
  position: fixed;
  top: 50%;
  left: 50%;
  width:300px;
  height: 250px;
  background: #e3e3e3;
  margin: auto;
  text-align: center;
  border: 3px solid #ef5350;
  padding: 10px;
  transform: translate(-50%, -50%);
}

#splash p {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

#map-container {
  margin:0 auto;
  width:100%;
  height:500px;
  visibility: hidden;
}
#notification-container {
  margin: 10px auto 10px auto;
  max-width: 900px;
}

#notification-title {
  text-align: center;
}

#notification-message {
  text-align: center;
}

#notification-image img {
  margin: 0 auto;
  display: block;
}

.sk-circle {
  margin: auto auto 20px;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

#location-container {
  padding: 7px 15px 7px 15px;
  margin: 10px auto 10px auto;
  max-width: 900px;
  background-color: #FAFAFA;
  border: 1px solid #BCAAA4;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  display: none;
}

.emph {
    color: red;
}

.close {
  float: right;
  font-size: 12px;
  font-weight:bold;
}

/* footer */

/* animations */

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*circular menu css*/




.circular-menu {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}

.circle {
    width: 250px;
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circle {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.circle a {
    text-decoration: none;
    color: grey;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    background-color: white;
    border: 2px solid grey;
    border-radius: 20%;

}

.circle a:hover {
    color: #eef;
}

.menu-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    text-align: center;
    color: #444;
    border-radius: 20%;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 10px;
    background: #dde;
    border: 2px solid darkgrey;
}

.menu-button:hover {
    background-color: #eef;
}

/* Author stuff */
h1.author {
    text-align:center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1.author a {
    color: #348;
    text-decoration:none;
}

h1.author a:hover {
    color: #ddd;
}
